@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-style: normal;
    font-weight: 400;
}
html {
    --bg-color: rgba(16, 16, 16);
    background-color: var(--bg-color);
    color: rgb(245, 245, 245);
    font-family: "Inter", sans-serif;

    /* background-color: white;
    color: rgb(0, 0, 0); */
}
@layer utilities {
    .text-glow {
        text-shadow:
            0 0 5px rgba(255, 255, 255, 0.16),
            0 0 10px rgba(255, 255, 255, 0.16),
            0 0 15px rgba(255, 255, 255, 0.16);
    }
    .transition-cursor {
        transition:
            opacity 0.5s cubic-bezier(0, 0.95, 0.15, 0.98),
            font-size 2s cubic-bezier(0, 0.95, 0.15, 0.98),
            top 1s cubic-bezier(0, 0.95, 0.15, 0.98),
            left 1s cubic-bezier(0, 0.95, 0.15, 0.98);
    }
    .negative-margin {
        margin-bottom: -0.25rem;
        padding-inline: 0.1rem;
    }
    .column-gap {
        column-gap: 0.3rem;
    }
    .row-gap {
        row-gap: 0rem;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(40, 40, 40);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(60, 60, 60);
}
::-webkit-scrollbar-button {
    background: transparent;
    height: 15px;
}
